        #updates{
            background-color: lightblue;
        }
        td{
            border: 1px solid black;
        }
        th{
            border: 1px solid black;
        }
        #Row{
            height: 20px;
        }